.liquid-canvas-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  font-family: 'Montserrat', serif;
}

.liquid-canvas-container.overlay-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
  background: transparent !important;
}

.liquid-canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: transparent !important;
}